# Auto detect text files and perform LF normalization
* text=auto eol=lf
*.md text eol=lf working-tree-encoding=UTF-8
*.php text eol=lf working-tree-encoding=UTF-8
*.json text eol=lf working-tree-encoding=UTF-8
